<div class="h-19 w-full">
  <!-- Label -->
  @if (label) {
    <label
      for="price"
      class="mb-2 block font-medium text-slate-900">
      {{ label }}
    </label>
  }
  <div class="relative rounded-md shadow-sm">
    <!-- Prefix -->
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <span class="text-slate-900">{{ prefix }}</span>
    </div>
    <!-- Input -->
    <input
      type="text"
      name="price"
      id="price"
      autocomplete="off"
      [ngClass]="{
        'ring-red-500': error,
        'pl-3': !prefix,
        'pl-6': prefix?.length === 1,
        'pl-8': prefix?.length === 2,
        'pl-10': prefix?.length === 3
      }"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit($event); error = false; errorChange.emit(false)"
      currencyMask
      [options]="{
        align: 'left',
        allowNegative: false,
        prefix: '',
        nullable: true
      }"
      class="delay-70 block w-full rounded-md border-0 py-3 pr-2 text-slate-900 ring-1 ring-inset ring-gray-300 transition placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500" />
  </div>
</div>
