<div class="h-19 w-full">
  <!-- Label -->
  @if (label()) {
    <span class="mb-2 block font-semibold text-slate-600">
      {{ label() }}
    </span>
  }
  <div class="relative rounded-md shadow-sm">
    <!-- Input -->
    <input
      #amountInput
      name="amount"
      pattern="[0-9]*"
      inputmode="numeric"
      autocomplete="off"
      [placeholder]="placeholder()"
      [(ngModel)]="amount"
      (ngModelChange)="error.set(false)"
      (keyup.enter)="enterPressed.emit()"
      currencyMask
      [options]="{
        align: 'left',
        allowNegative: false,
        prefix: symbol() + ' ',
        nullable: true,
      }"
      class="delay-70 flex w-full items-center rounded-md border-0 px-2 py-3 text-slate-600 ring-1 ring-inset ring-gray-300 transition placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
      [class]="{
        'ring-red-500': error(),
        'focus:ring-red-500': error(),
      }" />
  </div>
</div>
