<div class="h-19 w-full">
  <!-- Label -->
  @if (label) {
    <label
      for="price"
      class="mb-2 block font-semibold text-slate-600">
      {{ label }}
    </label>
  }
  <div class="relative rounded-md shadow-sm">
    <!-- Symbol -->
    <div
      #symbolDiv
      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <span>{{ symbol }}</span>
    </div>
    <!-- Input -->
    <input
      #input
      type="number"
      name="price"
      id="price"
      autocomplete="off"
      [ngClass]="{
        'ring-red-500 focus:ring-red-500': error,
      }"
      [placeholder]="placeholder"
      [(ngModel)]="amount"
      (ngModelChange)="onModelChange($event)"
      (keyup.enter)="enterPressed.emit()"
      currencyMask
      [options]="{
        align: 'left',
        allowNegative: false,
        prefix: '',
        nullable: true,
      }"
      class="delay-70 flex w-full items-center rounded-md border-0 py-3 pr-2 text-slate-600 ring-1 ring-inset ring-gray-300 transition placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-500" />
  </div>
</div>
