<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <!-- Logo/Name -->
    <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">
                CurrencyConverter
            </span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
    </div>
    <!-- Show mobile menu button - hidden when on large screens -->
    <div class="flex lg:hidden">
        <button type="button" (click)="setShowMobileMenuState(true)" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-slate-400">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>
    <!-- Center navigation links - only on large screens -->
    <div class="hidden lg:flex lg:gap-x-12">
        <a routerLink="/" class="text-sm font-semibold leading-6 text-slate-400 hover:text-slate-300 transition delay-70">
            Home
        </a>
        <a routerLink="/" class="text-sm font-semibold leading-6 text-slate-400 hover:text-slate-300 transition delay-70">
            Exchange Rates
        </a>
        <a routerLink="/" class="text-sm font-semibold leading-6 text-slate-400 hover:text-slate-300 transition delay-70">
            Tools
        </a>
    </div>
    <!-- Right navigation links - only on large screens -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a routerLink="/about" class="text-sm font-semibold leading-6 text-slate-400 hover:text-slate-300 transition delay-70">
            About
        </a>
    </div>
</nav>
<!-- Mobile menu -->
@if (showMobileMenu) {
    <div class="menu-animation absolute z-20" [ngClass]="{'disappear': animateCloseMobileMenu}" role="dialog" aria-modal="true">
        <div class="fixed inset-y-0 right-0 bg-white w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-slate-900/10">
            <div class="flex items-center justify-between">
                <!-- Logo/Name -->
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">
                        CurrencyConverter
                    </span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
                <!-- Close button -->
                <button type="button" (click)="setShowMobileMenuState(false)" class="-m-2.5 rounded-md p-2.5 text-slate-900">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!-- Navigation links -->
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-slate-500/10">
                    <div class="space-y-2 py-6">
                        <a routerLink="/" (click)="setShowMobileMenuState(false)"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-slate-900">
                            Home
                        </a>
                        <a routerLink="/" (click)="setShowMobileMenuState(false)"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-slate-900">
                            Exchange Rates
                        </a>
                        <a routerLink="/" (click)="setShowMobileMenuState(false)"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-slate-900">
                            Tools
                        </a>
                    </div>
                    <div class="py-6">
                        <a routerLink="/about" (click)="setShowMobileMenuState(false)" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-slate-900">
                            About
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}