<div class="w-full">
  <!-- Label -->
  @if (label()) {
    <span
      (click)="isDropdownOpen.set(false)"
      class="mb-2 block font-semibold text-slate-600">
      {{ label() }}
    </span>
  }
  <div class="relative rounded-md shadow-sm">
    <!-- Button that simulates select -->
    <button
      (click)="toggleDropdown()"
      type="button"
      aria-haspopup="listbox"
      [attr.aria-expanded]="isDropdownOpen.toString()"
      class="delay-70 relative w-full rounded-md bg-white py-3 pl-3 pr-10 text-left text-slate-600 shadow-sm ring-1 ring-inset ring-slate-300 transition focus:outline-none focus:ring-2 focus:ring-blue-500">
      <div class="flex h-6 items-center space-x-3">
        @if (selectedOption()) {
          <!-- Flag -->
          <img
            @fadeIn
            src="assets/currency-flags/{{ selectedOption()!.code }}.svg"
            alt="Currency flag"
            class="h-auto w-6 border-[1px] border-slate-200" />
          <!-- Name -->
          <span
            class="block truncate"
            @fadeIn>
            <span class="inline md:hidden lg:inline">
              {{ selectedOption()!.code + " - " + selectedOption()!.name }}
            </span>
            <span class="hidden md:inline lg:hidden">{{ selectedOption()!.code }}</span>
          </span>
        } @else {
          <!-- Placeholder -->
          <span
            class="block truncate text-slate-400"
            @fadeIn>
            Select an option
          </span>
        }
      </div>
      <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
        <svg
          [class.rotate]="isDropdownOpen() ? 'rotate-180' : ''"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5 transform text-slate-400 transition-transform duration-200">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
        </svg>
      </span>
    </button>
    <!-- Dropdown menu -->
    @if (isDropdownOpen()) {
      <div
        @slideOutIn
        class="absolute z-10 mt-1 w-full rounded-md bg-white shadow-lg">
        <!-- Search -->
        <input
          #searchInput
          type="text"
          placeholder="Type to search..."
          [(ngModel)]="searchTerm"
          class="w-full rounded-t-md px-3 py-3 text-slate-600 outline-none" />
        <!-- Divider -->
        <hr class="mx-auto w-11/12" />
        <!-- List -->
        <ul
          tabindex="-1"
          role="listbox"
          aria-labelledby="assigned-to-label"
          aria-activedescendant="assigned-to-option-0"
          class="shadow-xs custom-scrollbar max-h-60 w-full overflow-auto rounded-b-md py-1 text-base leading-6 outline-none">
          @for (option of filteredOptions(); track option.code) {
            <li
              (click)="selectOption(option)"
              role="option"
              class="relative w-full cursor-pointer select-none py-3 pl-3 pr-9 text-slate-600 hover:bg-slate-100">
              <div class="flex items-center space-x-3">
                <img
                  src="assets/currency-flags/{{ option.code }}.svg"
                  alt=""
                  class="h-auto w-6 border-[1px] border-slate-200" />
                <span
                  class="block truncate"
                  [class]="{
                    'font-semibold': option === selectedOption(),
                  }">
                  {{ option.code + " - " + option.name }}
                </span>
              </div>
              <!-- Highlights in case it's the option that is selected -->
              @if (option === selectedOption()) {
                <span class="absolute inset-y-0 right-0 flex items-center pr-4 text-blue-500">
                  <svg
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    class="h-5 w-5">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                  </svg>
                </span>
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
