<section class="flex w-full justify-center">
  <div class="mt-5 w-full max-w-7xl px-6 py-6 lg:px-8">
    <!-- Title and description -->
    <div class="mb-12 w-full">
      <p class="text-base font-semibold text-blue-500">Global currency converter</p>
      <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">CurrencyConverter</h1>
      <p class="mt-1 text-lg leading-8 text-slate-400">
        Trusted and open-source global currency conversion and tracking of exchange rates.
      </p>
    </div>
    <!-- Conversion container -->
    <div class="w-full rounded-lg bg-white px-8 py-8 lg:px-9">
      <div class="conversion-custom-grid flex w-full flex-col gap-4">
        <!-- Amount -->
        <currency-input
          label="Amount"
          [prefix]="conversionData.from.prefix"
          [(value)]="conversionData.value"
          [placeholder]="'0.00'"
          [(error)]="inputError"
          class="w-full">
        </currency-input>
        <!-- Currency from -->
        <app-currency-select
          label="From"
          [options]="currencyList"
          [(selectedOption)]="conversionData.from"
          class="w-full lg:max-w-[283.64px]">
        </app-currency-select>
        <!-- Switch currencies button -->
        <button
          (click)="switchConversionCurrencies()"
          [disabled]="pageIsLoading || conversionIsLoading"
          class="delay-70 h-[48px] w-[48px] rounded-full text-sm text-slate-600 ring-1 ring-inset ring-slate-300 transition hover:text-slate-500 disabled:cursor-not-allowed disabled:text-slate-400 disabled:hover:text-slate-400 lg:mt-8">
          &#8644;
        </button>
        <!-- Currency to -->
        <app-currency-select
          label="To"
          [options]="currencyList"
          [(selectedOption)]="conversionData.to"
          class="w-full lg:max-w-[283.64px]">
        </app-currency-select>
        <!-- Convert button -->
        <button
          (click)="convertCurrency()"
          [disabled]="pageIsLoading || conversionIsLoading"
          class="delay-70 h-[48px] w-full rounded-md bg-blue-600 px-3.5 text-sm font-semibold text-white shadow-sm transition hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:cursor-not-allowed disabled:bg-blue-400 disabled:hover:bg-blue-400 lg:mt-8">
          @if (pageIsLoading || conversionIsLoading) {
            <div class="flex h-full w-full items-center justify-center gap-2">
              <div class="h-4 w-4 animate-spin rounded-full border-2 border-blue-200 border-t-white"></div>
              Loading...
            </div>
          } @else {
            Convert
          }
        </button>
      </div>
      <!-- Conversion response -->
      @if (conversionResponse) {
        <div
          class="flex h-[124px] w-full gap-3"
          @expand>
          @if (!pageIsLoading && !conversionIsLoading) {
            <!-- Data -->
            <div @fadeInOut>
              <p class="mt-6 whitespace-nowrap text-base font-semibold text-slate-600">
                {{ conversionResponse.from.value | number: "1.2-2" }}
                {{ conversionResponse.from.currency.shortName }}
              </p>
              <p class="whitespace-nowrap text-2xl font-bold">
                {{ conversionResponse.to.value | number: "1.2-2" }}
                {{ conversionResponse.to.currency.shortName }}
              </p>
              <p class="mt-2 whitespace-nowrap text-xs text-slate-500">
                1 {{ conversionResponse.from.currency.fullName }} =
                {{ conversionResponse.to.value / conversionResponse.from.value | number: "1.2-5" }}
                {{ conversionResponse.to.currency.fullName }}
              </p>
              <p class="mt-1 whitespace-nowrap text-xs text-slate-500">
                1 {{ conversionResponse.to.currency.fullName }} =
                {{ conversionResponse.from.value / conversionResponse.to.value | number: "1.2-5" }}
                {{ conversionResponse.from.currency.fullName }}
              </p>
            </div>
            <!-- Chart -->
            <div
              class="flex w-full"
              @fadeInOut>
              <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="mainChartOptions"
                class="display:block mt-6 w-full">
              </highcharts-chart>
            </div>
          }
        </div>
      }
    </div>
  </div>
</section>
<div class="mt-10 flex w-full flex-col items-center justify-center rounded-t-4xl bg-white">
  <!-- Exchange rates table section -->
  <section
    id="exchangeRates"
    class="mt-2 w-full max-w-7xl px-6 py-6 lg:mt-4 lg:px-8">
    <!-- Title and description -->
    <div class="mb-7 w-full">
      <p class="text-base font-semibold text-slate-600">Stay updated</p>
      <h2 class="text-2xl font-bold tracking-tight">Exchange Rates</h2>
    </div>
    <!-- Exchange rate table -->
    @if (conversionTableData && !pageIsLoading) {
      <table class="w-full">
        <thead>
          <tr class="text-slate-600">
            <th class="pb-4 pl-4 text-left font-semibold">Currency</th>
            <th class="pb-4 text-center font-semibold">Rate</th>
            <th class="pb-4 text-center font-semibold">Equivalence</th>
            <th class="pb-4 text-center font-semibold">Change (24h)</th>
            <th class="w-2/5 pb-4 pr-4 text-right font-semibold">Chart (24h)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Currency from -->
          <tr>
            <th
              class="rounded-lg bg-blue-900 px-4 py-3 text-left font-semibold text-white"
              colspan="5">
              <div class="flex items-center gap-2">
                @if (conversionTableData.from.currency.flag) {
                  <!-- Flag -->
                  <img
                    [src]="conversionTableData.from.currency.flag"
                    alt="Country flag"
                    class="h-6 w-6 rounded-full" />
                }
                <!-- Currency name -->
                <div>
                  <p>{{ conversionTableData.from.currency.fullName }}</p>
                  <p class="text-xs font-medium">{{ conversionTableData.from.currency.shortName }}</p>
                </div>
              </div>
            </th>
          </tr>
          @for (entry of conversionTableData.to; track entry.shortName) {
            @if (entry.currency.shortName !== conversionTableData.from.currency.shortName) {
              <tr class="border-b-[1.5px] border-slate-100 text-slate-600">
                <!-- Currency -->
                <th class="pl-4 text-left font-semibold">
                  <div class="flex items-center gap-2">
                    @if (entry.currency.flag) {
                      <!-- Flag -->
                      <img
                        [src]="entry.currency.flag"
                        alt="Country flag"
                        class="h-6 w-6 rounded-full" />
                    }
                    <!-- Currency name -->
                    <div>
                      <p>{{ entry.currency.fullName }}</p>
                      <p class="text-xs font-medium">{{ entry.currency.shortName }}</p>
                    </div>
                  </div>
                </th>
                <!-- Rate -->
                <td class="text-center font-semibold">
                  {{ entry.value | number: "1.2-5" }}
                </td>
                <!-- Equivalence -->
                <td class="text-center font-semibold">
                  <p class="text-xs">
                    1 {{ conversionTableData.from.currency.shortName }} =
                    {{ entry.value | number: "1.2-5" }}
                    {{ entry.currency.shortName }}
                  </p>
                  <p class="text-xs">
                    1 {{ entry.currency.shortName }} =
                    {{ 1 / entry.value | number: "1.2-5" }}
                    {{ conversionTableData.from.currency.shortName }}
                  </p>
                </td>
                <!-- Change -->
                <td
                  class="text-center font-semibold"
                  [ngClass]="{
                    'text-red-500': entry.dailyChange < 0,
                    'text-green-500': entry.dailyChange > 0
                  }">
                  @if (entry.dailyChange > 0) {
                    <span>+</span>
                  }
                  <span>{{ entry.dailyChange | number: "1.2-2" }}%</span>
                </td>
                <!-- Chart -->
                <td class="pr-4 text-right font-semibold">
                  <div class="flex h-19 w-full *:rounded-b-lg">
                    <highcharts-chart
                      [Highcharts]="Highcharts"
                      [options]="entry.chartOptions"
                      class="display:block mt-6 w-full">
                    </highcharts-chart>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </section>
</div>
