<div class="w-full flex justify-center">
    <div class="w-full mt-5 mb-12 max-w-7xl">
        <div class="py-6 lg:px-8 px-6 w-full">
            <div class="w-full mb-12">
                <p class="text-base font-semibold text-blue-500">Global currency converter</p>
                <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">CurrencyConverter</h2>
                <p class="text-lg leading-8 text-slate-400 mt-1">Best source for trusted global currency conversion and tracking exchange rates.</p>
            </div>
            <div class="bg-white p-7 w-full rounded-lg shadow-xl shadow-slate-700 flex flex-wrap gap-4">
                <app-input class="w-full lg:w-auto" title="Amount" [prefix]="fromCurrencyPrefix" [value]="value" [placeholder]="'0.00'"></app-input>
                <app-select class="w-full lg:w-auto"></app-select>
            </div>
        </div>
    </div>
</div>
<div class="bg-white w-full h-full rounded-t-3xl">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>