@tailwind base;
@tailwind components;
@tailwind utilities;

// Setting default scrollbar behavior

html {
    @apply scroll-smooth;
}

// Custom scrollbar

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(203, 213, 225);
        border-radius: 3px;
    }
}

// Custom grid for the conversion container

@media (min-width: 1024px) {
    .conversion-custom-grid {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 2.75rem 1.5fr 1fr;
        gap: 15px;
    }
}