<section
  class="rounded-b-4xl flex flex-col items-center justify-start bg-slate-900 px-6 pb-12 pt-8 shadow-sm *:w-full *:max-w-[1216px] lg:px-8">
  <div class="gap-12 md:flex md:items-center">
    <!-- Title and description -->
    <div>
      <p class="text-base font-semibold text-blue-500">About the project</p>
      <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Simplifying Currency Conversion</h1>
      <p class="mb-4 mt-2 text-lg leading-8 text-slate-400">
        CurrencyConverter aims to provide an easy and accurate way for users to convert currencies, helping them make
        informed financial decisions.
      </p>
      <a
        href="https://github.com/gabrielpalassi/CurrencyConverter"
        class="delay-70 rounded-md bg-blue-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm transition hover:bg-blue-500">
        View on GitHub
      </a>
    </div>
    <!-- Key features -->
    <div class="mt-11 min-w-[45%] flex-col items-center justify-center rounded-lg bg-white p-8 md:mt-0">
      <ul class="flex flex-col gap-4 *:flex *:items-center *:justify-start *:gap-3">
        <!-- Real-time rates -->
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <circle
              cx="12"
              cy="12"
              r="10" />
            <polyline points="12 6 12 12 16 14" />
          </svg>
          <div>
            <h3 class="text-lg font-bold">Lightning-fast</h3>
            <p class="text-slate-500">Instant currency conversions with hourly updated rates.</p>
          </div>
        </li>
        <!-- Responsive design -->
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-primary h-6 w-6"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20 16V7a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v9m16 0H4m16 0 1.28 2.55a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45L4 16" />
          </svg>
          <div>
            <h3 class="text-lg font-bold">Responsive design</h3>
            <p class="text-slate-500">Seamless experience on any device, from desktop to mobile.</p>
          </div>
        </li>
        <!-- Intuitive interface -->
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-primary h-6 w-6"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <circle
              cx="13.5"
              cy="6.5"
              r=".5"
              fill="currentColor" />
            <circle
              cx="17.5"
              cy="10.5"
              r=".5"
              fill="currentColor" />
            <circle
              cx="8.5"
              cy="7.5"
              r=".5"
              fill="currentColor" />
            <circle
              cx="6.5"
              cy="12.5"
              r=".5"
              fill="currentColor" />
            <path
              d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z" />
          </svg>
          <div>
            <h3 class="text-lg font-bold">Intuitive interface</h3>
            <p class="text-slate-500">Navigate the currency converter with a user-friendly design.</p>
          </div>
        </li>
        <!-- Open-source code -->
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="text-primary h-6 w-6"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <polyline points="16 18 22 12 16 6" />
            <polyline points="8 6 2 12 8 18" />
          </svg>
          <div>
            <h3 class="text-lg font-bold">Open-source</h3>
            <p class="text-slate-500">Explore and contribute to the project's codebase on GitHub.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- White full width container -->
<section class="flex flex-col items-center justify-start px-6 py-8 *:w-full *:max-w-[1216px] lg:px-8 lg:py-10">
  <div class="gap-12 md:flex md:flex-row-reverse md:items-center">
    <!-- Meet the developer -->
    <div>
      <p class="text-base font-semibold text-slate-600">About the developer</p>
      <h2 class="text-2xl font-bold tracking-tight">Meet the Creator</h2>
      <p class="mb-3 mt-2 text-lg leading-8 text-slate-500">
        The CurrencyConverter project was created by Gabriel Palassi, a software engineer with over 4 years of
        experience in web development and a passion for finance and technology.
      </p>
      <div
        class="*:delay-70 flex w-full gap-4 *:rounded-md *:px-3.5 *:py-2 *:text-sm *:font-semibold *:shadow-sm *:transition">
        <a
          href="https://www.linkedin.com/in/gabrielpalassi/"
          class="bg-blue-900 text-white hover:bg-blue-800">
          Connect on LinkedIn
        </a>
        <a
          href="https://github.com/gabrielpalassi"
          class="border-[1px] border-slate-200 hover:bg-gray-100">
          View on GitHub
        </a>
      </div>
    </div>
    <div class="mt-12 min-w-[45%] md:mt-0">
      <!-- Technologies Used -->
      <div class="flex-col items-center justify-center rounded-lg bg-gray-100 p-8">
        <p class="text-base font-semibold text-slate-600">Technologies Used</p>
        <div class="mt-2 flex flex-wrap gap-2 text-white *:rounded-full *:bg-slate-900 *:px-2 *:py-[2px]">
          <div>Angular</div>
          <div>Tailwind</div>
          <div>Highcharts</div>
          <div>Bun</div>
          <div>Hono</div>
        </div>
      </div>
      <!-- Developer's Expertise -->
      <div class="mt-4 flex-col items-center justify-center rounded-lg bg-gray-100 p-8">
        <p class="text-base font-semibold text-slate-600">Developer's Expertise</p>
        <ul class="mt-2 flex flex-col gap-4 *:flex *:items-center *:justify-start *:gap-3">
          <!-- Passionate about finance and economics -->
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="text-primary h-6 w-6"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <line
                x1="12"
                x2="12"
                y1="2"
                y2="22" />
              <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
            </svg>
            <div>
              <h3 class="text-lg font-bold">Passionate about finance and economics</h3>
              <p class="text-slate-500">
                Leveraging his investment bank background, Gabriel focuses on creating tools that enable informed
                financial decisions.
              </p>
            </div>
          </li>
          <!-- Committed to open-source development -->
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="text-primary h-6 w-6"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <polyline points="16 18 22 12 16 6" />
              <polyline points="8 6 2 12 8 18" />
            </svg>
            <div>
              <h3 class="text-lg font-bold">Committed to open-source development</h3>
              <p class="text-slate-500">
                Gabriel supports open-source software, advocating for a future founded on freedom and accessibility.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
